@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Oswald:wght@300&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw!important;
  max-height: 100vh!important;
  text-emphasis-color: white;
}

.edit-btn {
  color:  #1ABC9C;
  background-color: #ECF0F1;
  border: none;
  cursor: pointer;
}

.delete-btn {
  color: #f72828;
  background-color: #ECF0F1;
  border: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-div {
  border: 2px solid rgb(238, 199, 26);
  background-color: #c4a029;
  padding: 30px;
}
.container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-card{
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-evenly;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-welcome{
  width: 80%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #D4E6F1;
}
h1{
  font-family: 'Alegreya Sans SC', sans-serif;
}
.card {
  width: 180px;
  height: 180px;
  background: #369681;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.card i{
  font-size: 50px;
}
.card1{
  color: #BB8FCE;
  background: #E8DAEF;
}
.card2{
  color: #7DCEA0;
  background: #D5F5E3;
}
.card3{
  color: #F8C471;
  background: #FDEBD0;
}
.card-items{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#main-container{
	margin: 150px auto;
	width: 600px;
}
.container-table{
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center h4{
  font-size: 28px;
}
table{
	width: 90%;
	border-collapse: collapse;
  transition: all 1.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
  text-align: center;
}

th, td{
  padding: 20px 5px;
}
td{
  cursor: pointer;
}

thead{
  background-color: #D4E6F1;
	color: #5499C7;
}

tbody{
  background-color: #ECF0F1;
}

h2{
  color: #000000D9;
  margin-bottom: 10px;
}
hr{
  width: 98%;
  height: 3px;
  background: #1783db;
  border: #1783db ;
}
.form-register {
  margin-left: 20px;
}
.container-input{
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.input{
  display: flex;
  flex-direction: column;
}
.container-btn{
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls {
  width: 250px;
  background: white;
  padding: 4px 11px;
  border: 2px solid #f1e3e3;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.input label{
  padding-bottom: 10px;
  font-size: 14px;

}
.boton{
  width: 180px;
  background: #1783db;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.btn-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
  margin-left: 48px;
  margin-top: 30px;
}
.date{
  display: flex;
  flex-direction: column;
}
