<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/popup.css">

  <script src="https://kit.fontawesome.com/20f8330ac2.js" crossorigin="anonymous"></script>

</head>
<body id="body" onload="counterProducto()">
  <header>
      <div class="icon__menu">
          <i class="fas fa-bars" id="btn_open"></i>
      </div>
  </header>
  <div class="menu__side" id="menu_side"> 
      
      <div class="name__page"> 
          <i class="fa-solid fa-shield-dog"></i>
          <h4>MyVet</h4>
      </div>
      <div class="options__menu">
              <a href="/index" >
                  <div class="option">
                      <i class="fas fa-home" title="Inicio"></i>
                      <h4>Inicio</h4> 
                  </div>
              </a>
              <a href="./addPaciente" >
                  <div class="option">
                      <i class="fa-solid fa-paw" title="Paciente"></i>
                      <h4>Pacientes</h4>
                  </div>
              </a>
              <a href="./Client">
                  <div class="option">
                      <i class="far fa-id-badge" title="Cliente"></i>
                      <h4>Cliente</h4>
                  </div>
              </a>
              <a href="./query" >
                  <div class="option">
                      <i class="fa-solid fa-file-lines" title="Consulta"></i>
                      <h4>Consulta</h4>
                  </div>
              </a>
              <a href="./ListLogin">
                  <div class="option">
                      <i class="fa-solid fa-stethoscope" title="Usuarios"></i>
                      <h4>Usuarios</h4> 
                  </div>
              </a>
              <a href="./product" class="selected">
                <div class="option">
                    <i class="fa-brands fa-product-hunt" title="Producto"></i>
                    <h4>Productos</h4> 
                </div>
              </a>
                <a href="./" class="logout">
                    <div class="option">
                        <i class="fa-solid fa-right-from-bracket" title="Salir"></i>
                        <h4>Cerrar Sesión</h4> 
                    </div>
                </a>
      </div>
  </div>
  <div id="modal_container" class="modal-container show">
    <div class="modal">
      <h4>
        <%= message %>
      </h4>
      <h5>
        <div id="timer"></div>
      </h5>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>

</html>