<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <script src="https://kit.fontawesome.com/20f8330ac2.js" crossorigin="anonymous"></script>

</head>
<body id="body" onload="open_close_menu()">
  <header>
      <div class="icon__menu">
          <i class="fas fa-bars" id="btn_open"></i>
      </div>
  </header>
  <div class="menu__side" id="menu_side"> 
      
      <div class="name__page"> 
          <i class="fa-solid fa-shield-dog"></i>
          <h4>MyVet</h4>
      </div>
      <div class="options__menu">
              <a href="" class="selected">
                  <div class="option">
                      <i class="fas fa-home" title="Inicio"></i>
                      <h4>Inicio</h4> 
                  </div>
              </a>
              <a href="" >
                  <div class="option">
                      <i class="fa-solid fa-paw" title="Paciente"></i>
                      <h4>Pacientes</h4>
                  </div>
              </a>
              <a href="">
                  <div class="option">
                      <i class="far fa-id-badge" title="Cliente"></i>
                      <h4>Cliente</h4>
                  </div>
              </a>
              <a href="">
                  <div class="option">
                      <i class="fa-solid fa-file-lines" title="Consulta"></i>
                      <h4>Consulta</h4>
                  </div>
              </a>
              <a href="./Usuarios">
                  <div class="option">
                      <i class="fa-solid fa-stethoscope" title="Usuarios"></i>
                      <h4>Usuarios</h4> 
                  </div>
              </a>
                <a href="./" class="logout">
                    <div class="option">
                        <i class="fa-solid fa-right-from-bracket" title="Salir"></i>
                        <h4>Cerrar Sesión</h4> 
                    </div>
                </a>
      </div>
  </div>
  <script src="menu.js"></script>
</body>