<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <script src="https://kit.fontawesome.com/20f8330ac2.js" crossorigin="anonymous"></script>

</head>
<body id="body" onload="open_close_menu()">
  <header>
      <div class="icon__menu">
          <i class="fas fa-bars" id="btn_open"></i>
      </div>
      <a href="./" class="logout-sesion">
        <div class="option">
            <i class="fa-solid fa-right-from-bracket" title="Salir"></i>
            <h4>Cerrar</h4> 
        </div>
    </a>
  </header>
  <div class="menu__side" id="menu_side"> 
      
      
      <div class="options__menu">
              <a href="/index" class="selected">
                  <div class="option">
                      <i class="fas fa-home" title="Home"></i>
                      <h4>Home</h4> 
                  </div>
              </a>
              
              <a href="./Client">
                  <div class="option">
                      <i class="far fa-id-badge" title="Solicitudes"></i>
                      <h4>Solicitudes</h4>
                  </div>
              </a>
              <a href="./oferta">
                  <div class="option">
                      <i class="fa-solid fa-file-lines" title="oferta"></i>
                      <h4>Oferta</h4>
                  </div>
              </a>
              <a href="./ListLogin">
                  <div class="option">
                      <i class="fa-solid fa-stethoscope" title="Tecnico-RRHH"></i>
                      <h4>Técnico-RRHH</h4> 
                  </div>
              </a>
              <a href="./listPaciente" >
                <div class="option">
                    <i class="fa-solid fa-paw" title="Cuenta"></i>
                    <h4>Cuenta</h4>
                </div>
            </a>         

      </div>
  </div>
 
  <script src="menu.js"></script>
</body>