<%- include("../template/navBar") %>

<body>
  <div class="form-register">
      <h2>Ingresar Paciente</h2>
      <hr>
      <br>
    <form action="./addPaciente" method="POST" class="container-form">
      <div class="container-input">
        <div class="input">
          <label for="patientname" class="form-label">Nombre de paciente</label>
          <input class="controls" type="text" name="patientname" id="patientname" class="form-control">
        </div>
        <div class="input">
          <label for="datebirth" class="form-label">Fecha Nacimiento</label>
          <input class="controls" style="color: black;" type="date" name="datebirth" id="datebirth" class="form-control">
        </div>
      </div>
      <div class="container-input">
        <div class="input">
          <label for="weigth" class="form-label">Peso</label>
          <input class="controls" type="text" name="weigth" id="weigth" class="form-control">
        </div>
        <div class="input">
          <label for="heigth" class="form-label">Altura</label>
          <input class="controls" type="text" name="heigth" id="heigth" class="form-control">
        </div>
      </div>
      <div class="container-input">
        <div class="input">
          <label for="specie" class="form-label">Especie</label>
          <select class="controls"  name="specie" id="specie" class="form-select">
              <option value="" selected>Seleccione categoria</option>
              <option value="gato" >Gato</option>
              <option value="perro" >Perro</option>
              <option value="pez" >Pez</option>
          </select>
        </div>         
      </div>
      <div class="container-btn">
          <div class="">
            <button type="submit" class="boton">Agregar Paciente</button>
          </div>
          <div class="">
            <a href="./listPaciente" class="boton">Volver</a>
          </div>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
  <script src="js/menu.js"></script>

</body>

</html>